body {
  text-align: center;
  padding: 150px;
}

form {
  display: inline-block;
}

.center__up>input {
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: right;
  height: 100px;
  width: 247px;
  border: none;
  font-size: 25px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.wrapper {
  align-items: center;
  justify-content: center;
}

.center__down {
  background-color: white;
  border: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: min-content;
  align-items: center;
  justify-content: center;
  width: 220px;
  margin: auto;
}

.center__down>button {
  border: none;
  border-radius: 5px;
  margin: auto;
}

.buttons__inline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.buttons__inline>button {
  box-shadow: 1.2rem;
  border: none;
  padding: 14px;
  margin: 10px;
  border-radius: 100%;
  font-weight: 500;
  cursor: pointer;
}

.buttons__inline button:active {
  background-color: #48abe0;
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.button {
  cursor: pointer;
  margin: auto;
}